{% load static %}
{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


        <nav class="navbar bg-light">
            <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Swapshop</span>
            <span class="d-flex">
                {% block buttons %}
                {% endblock %}
            </span>
            </div>
        </nav>

        <div class="container">

            <br />

            {% block content %}
            {% endblock %}

        </div>
