{% extends 'items/base.html' %}
{% load django_bootstrap5 %}

{% block buttons %}

{% bootstrap_button "Add an item" button_type="link" href="/items/add_item" %}

{% endblock %}

{% block content %}

{% if itemlist %}

<div class="row row-cols-1 row-cols-md-3 g-4">

{% for item in itemlist %}



    <div class="col">
        <div class="card">
            <img src="/media/{{ item.itemimage_set.all | first }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">Description goes here</p>
            </div>
        </div>
    </div>



{% endfor %}

</div>

{% else %}
    <p>No items are available.</p>
{% endif %}

{% endblock %}